.homepage{
    margin-top: 5%;
}
.headings{
    margin-top: 10%;
}
.foodie{
    font-size: 80px;
    color: rgb(201, 56, 56);
}
.sandwich{
    margin-bottom: 10%;
}
.fast-button{
    margin-left: 10%;
}
#buy{
    border-radius: 20px;
    margin-right: 10%;
}
